[submodule "blog/themes/cactus"]
	path = themes/cactus
	url = https://github.com/Dragonchu/hugo-PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/Dragonchu/hugo-PaperMod.git
